/* Write your CSS here! */
body{
    display: block;
    margin: 8px;
    color: gray;
    background-color: black;
    font-size: larger;
}

#mainHeading {
    color: red;
}

header {
    text-align: center;
    font-size:large;
}

#titleName {
    text-align: center;
    font-size: 50px;
    color: white;
}

h2 {
    color: white;
    font-size: 30px;
}

img {
    height:750px;
    width: 900px;
    image-rendering: auto;
}

.funParagraph {
    color: green;
}

figcaption {
    text-align: center;
    font-style: italic;
}

main {
    padding-top: 75px;
    padding-bottom: 60px;
}

ul {
    text-align: left;
}
